<div *ngIf="stats$ | async as stats">
  <mat-card>
    <mat-card-title> Statistics Information about Application</mat-card-title>
    <mat-card-content>

      <div>Total Number of Request: {{stats.TotalRequest}}</div>
      <div>Total Number of 4xx Request: {{stats.Total4xxRequest}}</div>
      <div>Total Number of 5xx Request: {{stats.Total5xxRequest}}</div>
      <div>Total Number of 2xx Request: {{stats.TotalOkrequest}}</div>
      <div>Total Time taken for all request: {{stats?.totalTime}} ms</div>
      <div>Minimum time taken for the request: {{stats?.minTime}} ms</div>
      <div>Maximum time taken for the request: {{stats?.maxTime}} ms</div>
      <div>Average time taken for the request: {{stats?.averageTime}} ms</div>

    </mat-card-content>
  </mat-card>
</div>
