<mat-card>
  <mat-card-title>
    List of Airports
  </mat-card-title>

  <div class="example-container mat-elevation-z8">

    <div class="example-header">
      <mat-form-field>
        <input matInput  placeholder="Filter" [formControl]="filterFormCtrl">
      </mat-form-field>
    </div>


    <table mat-table #table [dataSource]="dataSource" class="example-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let row">{{ row.code }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [length]="totalElements" [pageSize]="10">
    </mat-paginator>
  </div>

</mat-card>
