<mat-card>
  <mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/fares">Fares Search</button>
    <button mat-menu-item routerLink="/airports">Airport List</button>
    <button mat-menu-item routerLink="/statistics">Statistics</button>
  </mat-menu>
  </mat-toolbar>
</mat-card>

<router-outlet></router-outlet>
