<mat-card>

  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Origin" aria-label="Origin" [matAutocomplete]="auto1" [formControl]="originCtrl">
      <mat-error *ngIf="originCtrl.hasError('required')">
        Value is <strong>required</strong>
      </mat-error>
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let state of filteredOriginStates| async" [value]="state.code">
          <mat-card>
            <span>{{ state.name }}</span> |
            <small>Description: {{state.description}}</small>
          </mat-card>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input matInput placeholder="Destination"
             aria-label="Destination" [matAutocomplete]="auto2" [formControl]="destinationCtrl">
      <mat-error *ngIf="destinationCtrl.hasError('required')">
        Value is <strong>required</strong>
      </mat-error>
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let state of filteredDestinationStates| async" [value]="state.code">
          <mat-card>
            <span>{{ state.name }}</span> |
            <small>Description: {{state.description}}</small>
          </mat-card>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="getFares()">Search</button>
  </mat-card-actions>

</mat-card>

<mat-card>
  <mat-card-title>Fare Details</mat-card-title>
  <mat-list *ngIf="fareDetails">
    <mat-list-item>Fare amount: {{fareDetails.fare.amount}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Fare currency: {{fareDetails.fare.currency}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div><b> Origin name: </b> {{fareDetails.originDetails.name}}</div>
      &nbsp;
      <div><b> Origin Description: </b> {{fareDetails.originDetails.description}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <b> Destination name: </b> {{fareDetails.destinationDetails.name}}
      &nbsp;
      <b> Destination Description: </b> {{fareDetails.destinationDetails.description}}
    </mat-list-item>
  </mat-list>
  <div *ngIf="!fareDetails">No Fares found Yet .... Please search</div>
</mat-card>
